<nav class="navbar navbar-expand-md navbar-light">
  <div class="container-xxl navbar-conatiner">
    <a class="navbar-brand" href="/dashboard">
      <span class="fw-bold text-white"
        ><span class="logo">Purple</span> Horizon Financial</span
      >
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#main-nav"
      aria-controls="main-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-end align-items-center"
      id="main-nav"
    >
      <ul class="navbar-nav navbar-links">
        <li class="nav-item ms-2 d-md-none">
          <a href="external" class="nav-link text-white">External API Ex.</a>
        </li>

        <li class="nav-item ms-2 d-none d-md-inline">
          <a href="external" class="btn text-white">External API Ex.</a>
        </li>

        <li>
          <a
            href="#createAccount"
            class="nav-link text-white d-md-none"
            data-bs-toggle="offcanvas"
            role="button"
            aria-controls="createAccount"
            >Create an Account <i class="fa-solid fa-circle-up"></i
          ></a>
        </li>

        <li>
          <a
            href="#createAccount"
            class="nav-link text-white d-none d-md-inline"
            data-bs-toggle="offcanvas"
            role="button"
            aria-controls="createAccount"
            >Create an Account <i class="fa-solid fa-circle-up"></i
          ></a>
        </li>

        <li class="nav-item ms-2 d-md-none">
          <a href="logout.ejs" class="nav-link text-white">Logout</a>
        </li>

        <li class="nav-item ms-2 d-none d-md-inline">
          <a href="logout.ejs" class="btn text-white">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
