<nav class="navbar navbar-expand-md navbar-light">
  <div class="container-xxl navbar-conatiner">
    <a class="navbar-brand" href="/">
      <span class="fw-bold text-white"
        ><span class="logo">Purple</span> Horizon Financial</span
      >
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#main-nav"
      aria-controls="main-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-end align-items-center"
      id="main-nav"
    >
      <ul class="navbar-nav navbar-links">
        <li class="nav-item ms-2">
          <a href="/" class="nav-link text-white">Home</a>
        </li>

        <li class="nav-item ms-2 d-md-none">
          <a href="login.ejs" class="nav-link text-white">Login</a>
        </li>

        <li class="nav-item ms-2 d-none d-md-inline">
          <a href="login.ejs" class="btn text-white">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
